.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #01A982;
}

.navbar-inverse {
    background-color: #425563;
    border-color: #080808;
}

a {
    color: #5F7A76;
}

a:focus, a:hover {
    color: #5F7A76;
}

.panel-default > .panel-heading .badge {
    color: #FFF;
    background-color: #617C91;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #425563;
}
body {
    color: #767676;
}

.form-control {
    color: #767676;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.badge {
    color: #FFF;
    border-radius: 0px;
    background-color: #01A982;
}

.panel-default > .panel-heading .badge {
    background-color: #01A982;
}

.panel {
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #01A982;
}
.pagination > li > a, .pagination > li > span {
    color: #01A982;
}