<script src="js/controllers/am_modal.js"></script>
<!-- load up our controller -->
<style>
    .modal-dialog {
        width: 900px;
    }
</style>

<div g-controller="amModalCtrl">
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
        <label class="text-danger" ng-show="message">
            <a ng-click="clearMsg()">X</a> {{ message }}
        </label>
    </div>
    <div class="modal-body" full-height="200">
        <table class="table table-striped">
            <thead>
            <th>Field</th>
            <th>Old Value</th>
            <th>New Value <a ng-click="fill()">(Fill with old values)</a></th>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in recordData" ng-show="key!='ref-link'">
                <td><strong>{{ key }}</strong></td>
                <td>{{value}}</td>
                <td><input type="text" class="form-control" ng-model="modifyData[key]"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <!--<button class="btn btn-primary" type="button" ng-click="fill()">Fill New</button>-->
            <button class="btn" type="button" ng-click="create(modifyData)">Create</button>
            <button class="btn" type="button" ng-click="update(modifyData)">Update</button>
            <button class="btn" type="button" ng-click="delete(recordData)">Delete</button>
        </div>
        <button class="btn" type="button" ng-click="ok()">Close</button>
    </div>

</div>

