<!doctype html>
<html ng-app="am">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AM Advanced REST Client</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="js/controllers/am.js"></script>
    <script src="js/controllers/am_modal.js"></script>

    <style>
        @media only screen and (min-height: 700px) {
            .sidebar {
                max-height: 600px;
                overflow-y: auto;
            }
        }

        @media only screen and (min-height: 1000px) {
            .sidebar {
                max-height: 900px;
                overflow-y: auto;
            }
        }
    </style>
</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="amCtl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> {{ title }} </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="toggleServer()">Connection</a></li>
                <li><a href="#" ng-click="toggleNavbar()">Condition</a></li>
                <li><a href="index.html">Help</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--   nav bar -->
        <div class="col-md-2" ng-include="'amx_tree.html'"></div>

        <div class="col-md-10 main">
            <div class="row">
                <ol class="breadcrumb" ng-show="breadcrumb.length > 0">
                    <li ng-repeat="b in breadcrumb" ng-class="{'active':tableName == b}"><a href="#"
                                                                                            ng-click="metadata(b)">{{b}}</a>
                    </li>
                </ol>
                <form class="navbar-form navbar-left" ng-show="serverbar">
                    <input type="text" class="form-control" placeholder="Limit" ng-model="formData.server">
                    <input type="text" class="form-control" placeholder="Limit" ng-model="formData.user" size="7">
                    <input type="password" class="form-control" placeholder="Password" ng-model="formData.password"
                           size="7">
                    <button class="btn" type="button" ng-click="store()">Save</button>
                </form>
                <form class="navbar-form navbar-left" ng-show="navbar">
                    <input type="text" class="form-control" placeholder="Limit" ng-model="formData.param.limit"
                           size="1">
                    <input type="text" class="form-control" placeholder="Pos" ng-model="formData.param.offset"
                           size="1">
                    <input type="text" class="form-control" placeholder="AQL Filter..." ng-model="formData.param.filter"
                           size="50">
                    <input type="text" class="form-control" placeholder="Order By..." ng-model="formData.param.orderby"
                           size="30">
                    <button class="btn" type="button" ng-click="query()">Query</button>
                </form>
            </div>
            <div class="table-responsive" ng-show="tableData">
                <label class="text-danger" ng-show="message">
                    <a ng-click="clearMsg()">X</a> {{ message }}
                </label>

                <h4><strong>{{ tableName }} </strong>
                    <small>({{ tableData.count }})</small>
                    <small class="pull-right">
                        Search
                        <input type="text" placeholder="Dynamic Search" ng-model="search"
                               ng-change="pageSize=(search.trim().length>0)?tableData.entities.length:10">
                        Page
                        <select ng-model="pageSize" ng-options="o as o for o in [10, 50, 100]">
                        </select>
                    </small>
                </h4>

                <span class="text-center" ng-show="loading">Loading....</span>

                <table class="table table-striped">
                    <thead>
                    <tr ng-repeat="e in tableData.entities" ng-if="$first">
                        <th ng-show="e['ref-link']">
                            <a ng-click="order('ref-link')">ref-link</a>
                        </th>
                        <th ng-repeat="(key, value) in e" ng-show="key!='ref-link'">
                            <a ng-click="order(key)">{{ key }}</a>
                            <a ng-click="order(key)" ng-show="predicate==key">
                                <span class="glyphicon glyphicon-arrow-up" ng-show="!reverse"></span>
                                <span class="glyphicon glyphicon-arrow-down" ng-show="reverse"></span>
                                <span class="glyphicon glyphicon-refresh" ng-click="order(key, true)"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="e in tableData.entities|filter:search|orderBy:predicate:reverse|startFrom:currentPage*pageSize|limitTo:pageSize">
                        <td ng-show="e['ref-link']"><a ng-click="load(e)">{{ e['ref-link'] }}</a></td>
                        <td ng-repeat="(key, value) in e" ng-show="key!='ref-link'">{{ showValue(value) }}</td>
                    </tr>
                    </tbody>
                </table>

                <nav class="pull-right">
                    <ul class="pagination">
                        <li>
                            <a aria-label="Previous" ng-click="currentPage=(currentPage-1)<0?0:currentPage-1">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="i in [] |range:tableData.entities.length/pageSize"
                            ng-class="{active: currentPage==i}"
                            ng-click="jump(i)"><a>{{ i + 1 }}</a></li>
                        <li>
                            <a aria-label="Next"
                               ng-click="currentPage=(currentPage+1)>tableData.entities.length/pageSize?currentPage:currentPage+1">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>
