<div ng-show="templates" full-height="140">

    <table class="table table-striped" ng-show="templates">
        <thead>
        <tr>
            <th>Template Name</th>
            <th>Table Name</th>
            <!--<th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="temp in templates">
            <td><a ng-click="loadOneTemp(temp)">{{ temp.name }}</a></td>
            <td>{{ temp['$']['sqlname'] }}</td>
            <!--<td>-->
                <!--<a ng-click="queryRootByTemp(temp)" class="badge"><span class="glyphicon glyphicon-eye-open"></span>-->
                    <!--Query</a>-->
                <!--<a ng-click="removeTemplate(temp)" class="badge"><span class="glyphicon glyphicon-trash"></span>-->
                    <!--Delete</a>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>
