<div ng-show="tempTable">
    <h4>
        Template of [{{tempTable['$']['sqlname']}}]
        <span class="pull-right">
            <a ng-click="saveTemplate(tempTable)"><span class="glyphicon glyphicon-floppy-save"></span> </a>
            <a ng-click="removeTemplate(tempTable)"><span class="glyphicon glyphicon-floppy-remove"></span> </a>
        </span>
    </h4>
    <hr>

    <form>
        <div class="form-group">
            <label>Name</label>
            <div>
                <input type="text" class="form-control" ng-model="tempTable.name" placeholder="Input a Template Name">
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <div>
                <input type="text" class="form-control" ng-model="tempTable.description" placeholder="Input description">
            </div>
        </div>
        <div class="form-group">
            <label>Structure</label>

            <div>
                <div ng-show="tempTable" ng-include="'amTemp'"></div>
            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="amTemp">
    <span style="display: none">{{table = (l.table)?l.table:tempTable}}</span>
    <span style="display: none">{{isCard11 = (l['$']['card11'])?true:false}}</span>
    <h4>{{l['$']['sqlname']}} [{{table['$']['sqlname']}}]
        <small ng-show="!isCard11"><a ng-click="table.AQL=' '" ng-show="!table.AQL">Set AQL</a></small>
    </h4>
    <ul>
        <span ng-show="table.AQL">Set AQL: <input class="form-control" type="text" ng-model="table.AQL"></span>
        <li ng-repeat="f in table.field">{{f['$']['sqlname']}}</li>
    </ul>
    <span ng-repeat="l in table.link">
        <div ng-show="l.table" ng-include="'amTemp'" style="padding-left: 20px"></div>
    </span>
</script>