<div ng-show="tempRecords">
    <h4><strong>{{tempRecords.name}} </strong>
        <small>{{tempRecords['$']['sqlname']}} ({{ tempRecords.records.length }})</small>
    </h4>
    <hr>
    <div full-height="155">
        <table class="table table-striped" ng-show="tempRecords">
            <thead>
            <tr>
                <th>Ref-Link</th>
                <th>Self</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in tempRecords.records" ng-class="{selected: tempRecords['selected']==record['ref-link']}">
                <td>
                    <a ng-click="getRecordByTemp(record, tempRecords, true)">{{ record['ref-link'] }}</a>
                <td>
                    <a ng-click="showRelations(record)"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    {{ record['self'] }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>