<div ng-show="metadata.tables && !metadata.table">
    <input type="text" class="form-control" placeholder="Search table..." ng-model="tableSearch.id">
    <ul class="nav sidebar">
        <li ng-repeat="table in metadata.tables | filter: tableSearch">
            <a href="#" ng-click="metadata(table.id)">{{ table.id }}</a></li>
    </ul>
</div>

<div ng-show="metadata.table">
    <input type="text" class="form-control" placeholder="Search field..." ng-model="fieldSearch">
    <!-- action -->
    <a ng-click="removeOneTable()" class="badge"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <a ng-click="addFields()" class="badge pull-right" ng-show="fields.length > 0">
        <span class="glyphicon glyphicon-eye-open"></span></a>

    <div class="sidebar">
        <span ng-repeat="field in metadata.table.field | filter: fieldSearch">
            <input type="checkbox" ng-checked="fields.indexOf(field['$']['sqlname']) > -1"
                   ng-click="toggleFilter(field['$']['sqlname'])">
            {{ field['$']['sqlname'] }} <br>
        </span>

        <span ng-repeat="link in metadata.table.link | filter: fieldSearch">
            <a ng-click="metadata(link['$']['desttable'], link)"
               ng-show="!link.table && link['$']['card11']">
                <span class="glyphicon glyphicon-plus"></span>
            </a>

            <a ng-click="foldChild(link)" ng-show="link.table">
                <span class="glyphicon glyphicon-minus"></span>
            </a>

            <a ng-click="metadata(link['$']['desttable'])">[{{ link["$"]["sqlname"] }}]</a> <br>
            <div ng-show="link.table" ng-include="'amTree'" style="padding-left: 10px" ng-init="xxx = link.table"></div>
        </span>


    </div>
</div>

<script type="text/ng-template" id="amTree">
            <span ng-repeat="field in link.table.field | filter: fieldSearch">
                <input type="checkbox"
                       ng-checked="fields.indexOf(link.table.parent+'.'+field['$']['sqlname']) > -1"
                       ng-click="toggleFilter(link.table.parent+'.'+field['$']['sqlname'])">
                {{ field['$']['sqlname'] }}<br>
            </span>
            <span style="display: none">{{parent = link.table.parent}}</span>
            <span ng-repeat="link in link.table.link | filter: fieldSearch" ng-init="link['parent']=parent">
                <a ng-click="metadata(link['$']['desttable'], link)"
                   ng-show="!link.table && link['$']['card11']">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>

                <a ng-click="foldChild(link)" ng-show="link.table">
                    <span class="glyphicon glyphicon-minus"></span>
                </a>

                <a ng-click="metadata(link['$']['desttable'])">[{{ link["$"]["sqlname"] }}]</a> <br>
                <div ng-show="link.table" ng-include="'amTree'" style="padding-left: 10px"></div>
            </span>
</script>