<div ng-show="metadata.tables && !metadata.table">
    <input type="text" placeholder="Search table..." ng-model="tableSearch.id">
    <ul class="nav sidebar">
        <li ng-repeat="table in metadata.tables | filter: tableSearch">
            <a href="#" ng-click="metadata(table.id)">{{ table.id }}</a></li>
    </ul>
</div>

<div ng-show="metadata.table">
    <form class="form-inline">
        <input type="text" placeholder="Search field..." ng-model="fieldSearch">
        <input type="text" placeholder="Search link..." ng-model="linkSearch">
    </form>
    <!-- action -->
    <form>
        <a ng-click="backTableList()" class="badge"><span class="glyphicon glyphicon-arrow-left"></span> {{
            metadata.table['$']['sqlname'] }}</a>
        <a ng-click="toNewTemp(metadata.table)" class="badge"><span
                class="glyphicon glyphicon-floppy-disk"></span> Template</a>
        <a ng-click="addFields(metadata.table.fields)" class="badge">
            <span class="glyphicon glyphicon-eye-open"></span> Query</a>
    </form>

    <div class="sidebar">
        <span style="display: none">{{link.table = metadata.table}}</span>

        <div ng-show="link.table" ng-include="'amTree'"></div>
    </div>
</div>

<script type="text/ng-template" id="amTree">
    <span style="display: none">{{parent = link.table.parent}}</span>
    <span ng-repeat="field in link.table.field | filter: filterFields(fieldSearch)">
        <input type="checkbox"
                 ng-checked="ifChecked(field, metadata.table.fields, link.table.parent)"
                 ng-click="checkTreeFields(field, metadata.table.fields, link.table.parent)">
        {{ field['$']['sqlname'] }}<br>
    </span>
    <span ng-repeat="link in link.table.link | filter: filterFields(linkSearch)" ng-init="link['parent']=parent">
        <a ng-click="metadata(link['$']['desttable'], link)" ng-show="!link.table ">
            <span class="glyphicon glyphicon-plus"></span>
    </a>

    <a ng-click="foldChild(link)" ng-show="link.table">
        <span class="glyphicon glyphicon-minus"></span>
    </a>

    <a ng-click="metadata(link['$']['desttable'])">[{{ link["$"]["sqlname"] }}]</a>
    <br>
    <div ng-show="link.table" ng-include="'amTree'" style="padding-left: 10px"></div>
    </span>
</script>