<div ng-show="tempRecord" ng-include="'amTempRecord'"></div>

<script type="text/ng-template" id="amTempRecord">

    <span style="display: none">{{table = (t)?t:((l.table)?l.table:tempRecord)}}</span>
    <h4>{{l['$']['sqlname']}} [{{table['$']['sqlname']}}]</h4>
    <!--<div ng-repeat="record in table.records">-->
    <!--{{ record }}-->
    <ul>
        <li ng-repeat="f in table.field">{{f['$']['sqlname']}}: {{ showValue(f.data) }}</li>
    </ul>
    <!--</div>-->

    <span ng-repeat="l in table.link">
    <!--{{l.form}}-->
        <div ng-show="l.table && l['$']['card11']=='yes'" ng-include="'amTempRecord'" style="padding-left: 20px"></div>
        <div ng-show="l.tables && !l['$']['card11']" ng-repeat="t in l.tables">
            <div ng-include="'amTempRecord'" style="padding-left: 20px"></div>
        </div>
    </span>
</script>