<div class="col-md-5">
    <h4 class="page-header">
        All Templates
    </h4>
    <table class="table table-striped" ng-show="templates">
        <thead>
        <tr>
            <th>Template Name</th>
            <th>Table Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="temp in templates">
            <td><a ng-click="loadOneTemp(temp)">{{ temp.name }}</a></td>
            <td>{{ temp['$']['sqlname'] }}</td>
            <td>
                <a ng-click="queryByTemp(temp)" class="badge"><span class="glyphicon glyphicon-eye-open"></span>
                    Query</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-7" ng-show="tempTable">
    <h4 class="page-header">
        Create a template for [{{tempTable['$']['sqlname']}}]
    </h4>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">Name</label>

            <div class="col-md-10">
                <input type="text" ng-model="tempTable.name" placeholder="Input a Template Name" style="width: 60%">
                <button type="submit" ng-click="saveTemplate(tempTable)">Save</button>
                <button type="submit" ng-click="removeTemplate(tempTable)" class="pull-right">Delete</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Structure</label>

            <div class="col-md-10">
                <div ng-show="tempTable" ng-include="'amTemp'"></div>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group" ng-repeat="aql in tempTable.AQLs">
            <label>AQL Condition [{{aql.tableName}}]</label>

            <div>
                <textarea class="form-control" ng-model="aql.AQL" placeholder="AQL..."></textarea>
            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="amTemp">
    <span style="display: none">{{table = (l.table)?l.table:tempTable}}</span>
    <span style="display: none">{{isCard11 = (l['$']['card11'])?true:false}}</span>
    <h4>{{l['$']['sqlname']}} [{{table['$']['sqlname']}}]
        <small ng-show="!isCard11"><a ng-click="setAQL(table)" ng-show="!table.AQL">Set AQL</a></small>
    </h4>
    <ul>
        <li ng-repeat="f in table.field">{{f['$']['sqlname']}}</li>
    </ul>
    <span ng-repeat="l in table.link">
        <div ng-show="l.table" ng-include="'amTemp'" style="padding-left: 20px"></div>
    </span>
</script>