
<h4><strong>{{tempRecord.name}} </strong>
    <small>Fields: {{ tempRecord.field.length }} Links: {{ tempRecord.link.length }}</small>
</h4>
<hr>
<div ng-show="tempRecord" ng-include="'amTempRecord'" full-height="155"></div>

<script type="text/ng-template" id="amTempRecord">

    <span style="display: none">{{table = (t)?t:((l.table)?l.table:tempRecord)}}</span>
    <h5>{{ (l['$']['sqlname'])?l['$']['sqlname']:table['$']['sqlname'] }}</h5>
    <ul>
        <li ng-repeat="f in table.field"><strong>{{f['$']['sqlname']}}:</strong>
            {{ formatValue(f['$']['sqlname'], f.data) }}
        </li>
    </ul>

    <span ng-repeat="l in table.link">
        <div ng-show="l.table && l['$']['card11']=='yes'" ng-include="'amTempRecord'" style="padding-left: 20px"></div>
        <div ng-show="l.tables && !l['$']['card11']" style="padding-left: 20px">
            <a ng-click="l.showChild=!l.showChild" ng-show="!l.showChild"><span class="glyphicon glyphicon-plus"></span></a>
            <a ng-click="l.showChild=!l.showChild" ng-show="l.showChild"><span class="glyphicon glyphicon-minus"></span></a>
            {{l['$']['sqlname']}} ({{l.tables.length}})
            <div ng-show="l.showChild" ng-repeat="t in l.tables" ng-include="'amTempRecord'" style="padding-left: 18px"></div>
        </div>
    </span>
</script>