<div ng-show="tempRecords">
    <h4><strong>{{tempRecords.name}} </strong>
        <small>{{tempRecords['$']['sqlname']}} ({{ tempRecords.count }})</small>
    </h4>
    <hr>
    <div full-height="155">
        <table class="table table-striped" ng-show="tempRecords">
            <thead>
            <tr>
                <th>Self</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in tempRecords.records"
                ng-class="{selected: tempRecords['selected']==record['ref-link']}"
                ng-click="getRecordByTemp(record, tempRecords, true)">
                <td>
                    <a ng-click="showRelations(record)"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a ng-click="getRecordByTemp(record, tempRecords, true)">{{ record['self'] }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>