

<div class="scrollable" ng-init="metadata('all')">
    <input type="text" placeholder="Search table..." class="form-control" ng-show="!formData.showLabel && !metadata.table" ng-model="tableSearch.id">
    <input type="text" placeholder="Search table..." class="form-control" ng-show="formData.showLabel && !metadata.table" ng-model="tableSearch.Label">

    <div class="scrollable-content">

        <div class="list-group" ng-show="metadata.tables && !metadata.table">
            <span ng-repeat="table in metadata.tables | filter: tableSearch" ng-click="metadata(table.id)" class="list-group-item">
                {{ (!formData.showLabel) ? table.id : table.Label }} 
                <i class="fa fa-chevron-right pull-right"></i>
                <span ng-show="table.loading" class="pull-right">loading... </span>
            </span>
        </div>

        <div class="section" ng-include="(metadata.table && !tempEdit)?'/mobile/table.html':''"></div>
        
        <div ng-show="tempEdit" class="section" ng-include="'/mobile/template.html'"></div>
    </div>
</div>

